<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
        <div class="continer" style="text-align: center">

            {% include 'navbar.html' %}

                <h1>This our services Photoreview</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aperiam maxime est dolorem possimus iusto, dolor ab porro facilis architecto fuga adipisci harum ea? Asperiores ea alias quo nisi autem deleniti, sapiente obcaecati quasi ducimus facilis ullam reprehenderit quia modi laboriosam ut impedit consequatur pariatur hic illo delectus eum rem.</p>
                <button>contact US</button>
        </div>
</body>
</html>