{% load static %}
<!DOCTYPE html>

<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Dance</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/admin-style.css' %}">

      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- font css -->
      <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   </head>
   <body>
      {% csrf_token %}
      <div class="header_section">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="index.html">Home</a>
                  </li>
                  
                  <li class="nav-item">
                     <a class="nav-link" href="">Add Events</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/admin">Admin</a>
                  </li>
               </ul>
               
            </div>
         </nav>
         <!-- banner section start --> 
         <div class="banner_section layout_padding">
            <div class="container-fluid">
               <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  
                  <div class="carousel-item active">
                        <div class="row">
                           <div class="col-md-4">
                              <h1 class="banner_taital">Beat the Next</h1>
                              <h2 class="banner_text">step</h2>
                              
                           </div>
                           <div class="col-md-5">
                              <div class="banner_img"><img src="{% static 'images/banner-img.png' %}"></div>
                           </div>
                           <div class="col-md-3">
                              <div class="banner_menu">
                                 <ul>
                                    <li><a>Spin<span style="color: #e7c100"></span></a></li>
                                    <li><a>Practice<span style="color: #e7c100"></span></a></li>
                                    <li><a>Technique<span style="color: #e7c100"></span></a></li>
                                    <li><a>Collabration <span style="color: #e7c100"></span></a></li>
                                    <li><a>Expression<span style="color: #e7c100"></span></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- header section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="about_taital">Around the World</div>
               </div>
            </div>
         </div>
         <div class="about_section_2">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_img"><img src="{% static 'images/img4.jpg' %}"></div>
                  </div>
                  <div class="col-md-6">
                     <div class="about_taital_main">
                        <div class="yoga_taital">Best about dance </div>
                        <p class="about_text"> dance sport is an extremely elegant, graceful and stylish sport which involves athletes with a physical impairment that affects the lower limbs. Participants can compete combi style, dancing with an able-bodied (standing) partner, or duo dance for two wheelchair users together.</p>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- classes section start -->
      <div class="classes_section layout_padding">
         <div class="container">
            <div class="classes_border">
               <div class="row">
                  <div class="col-md-12">
                     <h1 class="classes_taital">Dance Forms</h1>
                     <p class="classes_text">use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassined </p>
                  </div>
               </div>
               <div class="classes_section_2">
                  {% for dance in newest_dance %}
                  <div class="row">
                     <div class="col-md-6">

                        <div class="classes_img"><img src={{dance.image_url}}></div>
                        <h3 class="astanga_taital">{{dance.title}}</h3>
                        <p class="astanga_text">{{dance.dance_info}}</p>
                     </div>
               </div>
               {% endfor %}
            </div>   
               <div class="classes_section_2">
                  {% for dance in dance_styles %}
                  <div class="row">
                     <div class="col-md-6">
                        <div class="classes_img"><img src={{dance.image_url}}></div>
                        <h3 class="astanga_taital">{{dance.title}}</h3>
                        <p class="astanga_text">{{dance.dance_info}}</p>
                     </div>
                     <div class="row">
                     <div class="col-md-6">
                        <div class="classes_img"><img src={{dance.image_url}}></div>
                        <h3 class="astanga_taital">{{dance.title}}</h3>
                        <p class="astanga_text">{{dance.dance_info}}</p>
                     </div>
                  </div>
               </div>
               {% endfor %}
               
            
         </div>
      </div>
      
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="blog_taital">Recent Events</h1>
               </div>
            </div>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="blog_box">
                        <div class="blog_img"><img src="{% static 'images/img-3.png' %}"></div>
                        <div class="blog_taital_main">
                           <p class="yoga_text">BY Yoga 6 COMMENTS</p>
                           <h3 class="practising_taital">Practising yoga on the sea shore is a good method</h3>
                           <p class="blog_text">in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage</p>
                           <div class="date_btn"><a>28 Apr</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="blog_box">
                        <div class="blog_img"><img src="{% static 'images/img-2.png' %}"></div>
                        <div class="blog_taital_main">
                           <p class="yoga_text">BY Yoga 6 COMMENTS</p>
                           <h3 class="practising_taital">Practising yoga on the sea shore is a good method</h3>
                           <p class="blog_text">in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage</p>
                           <div class="date_btn"><a>28 Apr</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="blog_box">
                        <div class="blog_img"><img src="{% static 'images/img-4.png' %}"></div>
                        <div class="blog_taital_main">
                           <p class="yoga_text">BY Yoga 6 COMMENTS</p>
                           <h3 class="practising_taital">Practising yoga on the sea shore is a good method</h3>
                           <p class="blog_text">in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage</p>
                           <div class="date_btn"><a>28 Apr</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end -->

      {% load static %}s
      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      
   </body>
</html>
